body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  --twitter-color-dark: #2585c0;
}

/* .App {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
} */

.homepage {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}